apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: kuard-rs
  labels:
    app: kuard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kuard
  template:
    metadata:
      labels:
        app: kuard
    spec:
      containers:
      - name: kuard
        image: europe-west1-docker.pkg.dev/polytech-dijon/polytech-dijon/kuard:blue
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthy
            port: 8080
          initialDelaySeconds: 5
          timeoutSeconds: 1
          periodSeconds: 10
          failureThreshold: 3
        resources:
          requests:
            cpu: "50m"
            memory: "128Mi"
          limits:
            cpu: "50m"
            memory: "128Mi"
